/* setup */
html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 966px;
}

.clear {
    clear: both;
}

/* map & text */

.wrapper {
    background-color: lightsteelblue;
}

div.map {
    position: relative;
    top: 80px;
    float: left;
    width: 320px;
}

div.text {
    float: left;
    max-width: 640px;
}

/* text */

ul.pollList {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 320px;
}

ul.pollList li {
    margin: 0 0 6px;
}

ol.results {
    list-style: none outside none;
    padding: 0;
}

ol.results li {
    float: left;
    width: 25px;
}

.pollInfo {
    font-size: 10px;
}

span.pollName {
    float: left;
    width: 130px;
    font-size: 18px;
}

div.pollData {
    overflow: hidden;
}

@media only screen and (min-width: 750px) and (max-width: 959px) {
    /* todo: remove, is just for testing */
    body {
        max-width: 750px;
    }

    ul.pollList.column-2 {
        display: none;
    }

    div.map {
        top: 40px;
        width: 375px;
    }

    div.text {
        width: 375px;
    }

    ul.pollList {
        width: 375px;
    }
}

/* Mobile Landscape Size to Portrait (devices and browsers) */
@media only screen and (min-width: 420px) and (max-width: 749px) {
    /* todo: remove, is just for testing */
    body {
        max-width: 420px;
    }

    /*ul.pollList.column-2 {
        display: none;
    }*/

    div.map {
        top: 0;
        width: 100%;
    }

    div.text {
        width: 100%;
    }

    ul.pollList {
        width: 100%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 419px) {
    /* todo: remove, is just for testing */
    body {
        max-width: 300px;
    }

    /*ul.pollList.column-2 {
        display: none;
    }*/

    div.map {
        top: 0;
        width: 100%;
    }

    div.text {
        width: 100%;
    }

    ul.pollList {
        width: 100%;
    }

    span.pollName {
        width: 120px
    }
}