  div.map svg {
    width: 100%;
    height: 100%; }

    div.map svg path {
      stroke-width: 1;
    /*  stroke: #e6e6e6; */
      stroke: #000000;
      fill: #ffffff; }
      div.map svg path.oevp {
        fill: #000000;
        stroke: black; }
      div.map svg path.spoe {
        fill: #cc0000;
        stroke: #990000; }
      div.map svg path.fpoe {
        fill: #5566cc;
        stroke: #3749b7; }
      div.map svg path.stronach {
        fill: #f8e925;
        stroke: #e3d307; }
      div.map svg path.gruen {
        fill: #6ba325;
        stroke: #50791c; }

